In [153]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [154]:
data = pd.read_csv('train.csv')

data

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [155]:
data['text'] = data['text'].str.upper()

In [156]:
data['text'] = data['text'].str.replace(r"&AMP", ' ', regex=True)
data['text'] = data['text'].str.replace(r"&GT", ' ', regex=True)
data['text'] = data['text'].str.replace(r"@+", '', regex=True)
data['text'] = data['text'].str.replace(r"[^a-zA-Z0-9 ]", '', regex=True)
data['text'] = data['text'].str.replace(r"HTTP\S+", '', regex=True)
data['text'] = data['text'].str.replace("Á", 'A', regex=True)
data['text'] = data['text'].str.replace("É", 'E', regex=True)
data['text'] = data['text'].str.replace("Í", 'I', regex=True)
data['text'] = data['text'].str.replace("Ó", 'O', regex=True)
data['text'] = data['text'].str.replace("Ú", 'U', regex=True)
data['text'] = data['text'].str.replace(r" +", ' ', regex=True)

In [157]:
data['location'] = data['location'].str.upper()

In [158]:
data['location'] = data['location'].str.replace(r"[^a-zA-Z0-9 ]", '', regex=True)
data['location'] = data['location'].str.replace(r" +", ' ', regex=True)
data['location'] = data['location'].replace(" ", np.nan)

In [159]:
data

,id,keyword,location,text,target
0,1,NaN,NaN,OUR DEEDS ARE THE REASON OF THIS EARTHQUAKE MA...,1
1,4,NaN,NaN,FOREST FIRE NEAR LA RONGE SASK CANADA,1
2,5,NaN,NaN,ALL RESIDENTS ASKED TO SHELTER IN PLACE ARE BE...,1
3,6,NaN,NaN,13000 PEOPLE RECEIVE WILDFIRES EVACUATION ORDE...,1
4,7,NaN,NaN,JUST GOT SENT THIS PHOTO FROM RUBY ALASKA AS S...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,TWO GIANT CRANES HOLDING A BRIDGE COLLAPSE INT...,1
7609,10870,NaN,NaN,ARIAAHRARY THETAWNIEST THE OUT OF CONTROL WILD...,1
7610,10871,NaN,NaN,M194 0104 UTC5KM S OF VOLCANO HAWAII,1
7611,10872,NaN,NaN,POLICE INVESTIGATING AFTER AN EBIKE COLLIDED W...,1
7612,10873,NaN,NaN,THE LATEST MORE HOMES RAZED BY NORTHERN CALIFO...,1